.checkbox {
    border: 1px solid var(--grey-border);
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 15px;
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
    cursor: pointer;
}

.checkbox-active {
    border: 3px solid var(--primary);
    background-color: var(--primary-faded);
}

.checkmark {
    border: 1px solid var(--grey-border);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-active .checkmark {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.check-text .header {
    font-weight: 500;
    margin-bottom: 1rem;
}