.searchbar {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: 400px;
  width: 100%;
  color: black;
  font-weight: 500;
  column-gap: 1rem;
  border: 1px solid var(--grey-border);
  border-radius: 30px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}



.right-border {
  border-right: 1px solid var(--grey-border);
}

@media (max-width: 768px) {
  .searchbar {
    display: none;
  }
}
