.chef-profile {
    background-color: var(--primary-faded);

}

.chef-profile-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 2rem;
  }

  .chef-profile i {
    color: var(--primary);
  }

  .chef-profile {
    padding-block: 1rem;
    padding-inline: 2rem;
    border-radius: 15px;
  }

  .chef-profile .chef-summary {
    font-size: 12px;
    margin-bottom: 0.5rem;
  }

  .chef-profile .see-more{
    font-size: 12px;
  }

  .chef-profile .meal-info{
    margin-block: 0.5rem;
  }