.meal-summary .label {
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 500;

}

.meal-summary {
    padding-inline: 1rem;
    padding-block: 3rem;
    border: 1px solid var(--grey-border);
    border-radius: 15px;
}

.row-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 12px;
}

.total {
  border-top: 1px solid var(--grey-border);
  padding-top: 1rem;
  font-size: 18px;
  font-weight: 500;
}

.meal-summary button {
    padding-block: 1rem;
    color: white;
    font-weight: 600;
    width: 100%;
    border-radius: 15px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
